:root{
  --primaryDark: #1565c0;
}

body{
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--primaryDark);
  height: 100%;
  display: 'flex';
  justify-content:'center';
}

.login-form{
  margin: 3em 10em;
  padding: 1.5em 4em;
  border-radius: 5px;

}
